

body{
    margin:0;
    padding:0;
}

   
ul  {
    display: flex;
    justify-content: space-between;
    list-style-type: none ;
    margin-right:120px;
    font-size: 12px;
    height:20px;
    padding:0px;
    
}
 
li img{
    width: 70px;
    padding:0px;
    

}


.menu{ 
    margin-top:10px;
    padding-top:5px;
    height:15px;
}


.experiences {
    
    height :380px;
    background-image: url("./assets/images/depuis-quand-mesure-t_on-le-temps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid #E1A5FF;
}

h1{
    color:pink;
    text-align:center;
    padding-top:90px;
    font-size: 50px;
    
}

.filtre{
    
    width:100%; 
    height:100%; 
    background:rgba(142, 21, 255, 0.4);
}



figcaption{
    color :#4e90d7;
    text-align: center;
}

.premier-rang{
    display: flex;
    justify-content: center;
   
}

.titre1, .titre2{
    margin:8px;
    border: 1px solid #4e90d7;
    height: 212px;

}
.titre1:hover, .titre2:hover{
    border: 6px solid blue;
    transform: scale(1.2)
    
}

.imgligne1{
    align-items: center;
    width:259px;
    height:194px;
  
}



.deuxieme-rang{
    display: flex;
    justify-content: center;
   
}

.imgligne2{
    width:259px;
   height:194px;
}

footer{
    height:50px;
    display: flex;
    justify-content: space-around;
    background-color:#141445 ;
    align-items: center;
}
.cercle{
    border: 1px solid grey;
    border-radius:50px;
}

.imgfoot{
    align-items: center;
    margin-top: 12px;
    width:40px;
    height:40px;
    margin:0px;
}
